@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

tw-passage {
user-select: none
font-family: 'IBM Plex Mono', monospace;
color: #FFB000;
user-select: none; 
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
   min-width:1080px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1080px;            /* As IE6 ignores !important it will set width as 1000px; */
}

hr {
	display: block;
	height: 1px;
	border: 15px solid #FFB000;
	border-top: 1px solid #FFB000;
	margin: 1em 0;
	padding: 0;
   user-select: none; 
   -webkit-user-select: none; /* Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
}

.enchantment-link:hover, tw-link:hover {
    color: #FFCC00;
   }
tw-link {color: #FFB000 !important; text-decoration:underline;}
tw-icon[alt="Undo"], tw-icon[alt="Redo"] {
   display: none;
}
tw-prompt {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}